<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".VRCMApplication"
        android:enableOnBackInvokedCallback="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.VRCM"
        tools:targetApi="tiramisu">
        <!--
            singleTask：应用只有这一个 Activity。扫码类应用发出的 VIEW intent 不一定带
            FLAG_ACTIVITY_NEW_TASK，用 standard/singleTop 时深链会在扫码应用的任务栈里
            新建一个实例，之后点桌面图标又会起第二个，造成同时存在两份应用状态。
            本应用没有 share 入站入口，也没有 PendingIntent 通知，singleTask 不影响其他流程。
        -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.VRCM">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 扫描身份牌二维码（VRChat 用户主页链接）时可选择用 VRCM 打开 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="vrchat.com" android:pathPrefix="/home/user/" />
                <data android:scheme="https" android:host="www.vrchat.com" android:pathPrefix="/home/user/" />
            </intent-filter>
            <!-- 应用自定义 scheme：vrcm://user/{userId} -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="vrcm" android:host="user" />
            </intent-filter>
        </activity>
    </application>
</manifest>