*.iml
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
*.jks
*.keystore
iosApp/resign.config
.idea
.kotlin
.DS_Store
captures
.externalNativeBuild
.cxx
.worktrees/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
.vscode
